/* Global or Component CSS */

/* Section styling */
/* .section {
  padding: 20px;
  margin: 10px 0;
  background-color: #F3F3F3;
} */

/* Row styling */
.row {
  display: flex;
  flex-wrap: wrap; /* Makes the content wrap when needed */
  justify-content: space-between;
}

/* Column styling (items inside the row) */
.column {
  flex: 1;
  padding: 10px;
  min-width: 200px; /* Ensure columns stack on smaller screens */
}

/* Responsive media query for larger screens */
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .column {
    min-width: 300px; /* Adjust column size for larger screens */
  }
}

/* src/styles/global.css */
body {
  @apply text-gray-900;
}

h1 {
  @apply text-4xl font-bold text-primary;
}

h2 {
  @apply text-2xl text-secondary;
}
